:local {
  .trajectories {
    border   : 1px solid #ddd;
    padding  : 4px;
    position : absolute;
    left     : 50px;
    bottom   : 50px;
    z-index  : 1;

    > li {
      height      : 16px;
      display     : flex;
      align-items : center;
      position    : relative;

      svg {
        
      }
    }
  }

  .label {
    color : #999;
    > span {
      display   : inline-block;
      min-width : 10ch;
      color     : #333;
    }
  }

  .target {
    cursor   : pointer;
    position : absolute;
    top      : 0;
    right    : 0;
    bottom   : 0;
    left     : 0;
    z-index  : 2;
  }

  .selector {
    display     : flex;
    align-items : center;

    .selected {
      color      : hsl(12, 95%, 45%);
      background : #ccc;
    }

    ul {
      padding : 0 4px;
    }

    li {
      padding : 0 12px;
      cursor  : pointer;

      &:hover {
        background : #ccc;
        color      : #333;
      }
    }
  }
}
